@(names: scala.collection.Set[String], herokuUrl: Option[String])(implicit lang:Lang)

@main("Papertrail Log Analyzer") {
<style type="text/css">
.container {
	padding-top: 60px;
	padding-bottom: 40px;
}
footer .copy-right {
	float:right;
	margin-right: 10px;
}
.hero-unit {
	border: solid 1px;
}
fieldset li {
	list-style: none;
}
fieldset li label {
	text-align: right;
	margin-right: 10px;
	width: 70px;
	display: inline-block;
}
</style>
<a href="https://github.com/shunjikonishi/papertrail-log-analyze"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
@topbar()

<div class="container">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Papertrail LogAnalyzer</h1>
		<p></p>
		<p>@Messages("appDescription")</p>
	</div>
	
	<!-- Example row of columns -->
	<div class="row">
		<div class="span6">
			<h2>@Messages("registeredApp")</h2>
			@names.map{ name =>
				<h3><a href="/app/@name">@name</a></h3>
			}
		</div>
		<div class="span6">
			<h2>@Messages("realtimeLogMetrics") <span class="badge badge-important">New!</span></h2>
			@herokuUrl.map { url =>
				<h3>@Messages("loginWithHerokuAccount")</h3>
				<a href="@url" class="btn btn-info">@Messages("start")</a>
			}
			<h3>@Messages("loginWithPapertrail")</h3>
			<form action="/pt/start" method="post">
				<fieldset>
					<ul>
						<li><label>APIToken</label><input type="text" name="token" class="input-medium"/></li>
						<li><label>@Messages("keywords")</label><input type="text" name="key" class="input-large"/></li>
						<li><label>@Messages("period")</label>
							<select name="hour" class="span2">
								<option value="0.5">@Messages("hour0.5")</option>
								<option value="1">@Messages("hour1")</option>
								<option value="3">@Messages("hour3")</option>
								<option value="6" selected>@Messages("hour6")</option>
							</select>
						</li>
					</ul>
				</fieldset>
				<button class="btn btn-info">@Messages("start")</button>
			</form>
		</div>
	</div>
</div> <!-- /container -->
<div class="navbar navbar-fixed-bottom">
	<footer>
		<div class="copy-right">COPYRIGHT &copy; 2013 FLECT CO.,LTD. ALL RIGHTS RESERVED</div>
		<div style="clear:both"></div>
	</footer>
</div>
}
