@(names: scala.collection.Set[String], herokuUrl: Option[String])(implicit lang:Lang)

@main("Papertrail Log Analyzer") {
<style type="text/css">
.container {
	padding-top: 60px;
	padding-bottom: 40px;
}
footer .copy-right {
	float:right;
	margin-right: 10px;
}
.hero-unit {
	border: solid 1px;
}
</style>
<a href="https://github.com/shunjikonishi/papertrail-log-analyze"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<div id="header" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<span class="brand" href="/">LogAnalyzer</span>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("view")<b class="caret"></b></a>
						<ul class="dropdown-menu">
							@names.map{ name =>
								<li><a href="/app/@name">@name</a></li>
							}
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("language")<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/i18n/setlang?lang=en">@Messages("english")</a></li>
							<li><a href="/i18n/setlang?lang=ja">@Messages("japanese")</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<div class="container">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Papertrail LogAnalyzer</h1>
		<p></p>
		<p>@Messages("appDescription")</p>
	</div>
	
	<!-- Example row of columns -->
	<div class="row">
		<div class="span6">
			@names.map{ name =>
				<h2><a href="/app/@name">@name</a></h2>
			}
		</div>
		@herokuUrl.map { url =>
		<div class="span6">
			<h2>@Messages("realtimeLogMetrics") <span class="badge badge-important">New!</span></h2>
			<a href="@url" class="btn btn-info">@Messages("loginWithHerokuAccount")</a>
		</div>
		}
	</div>
</div> <!-- /container -->
<div class="navbar navbar-fixed-bottom">
	<footer>
		<div class="copy-right">COPYRIGHT &copy; 2013 FLECT CO.,LTD. ALL RIGHTS RESERVED</div>
		<div style="clear:both"></div>
	</footer>
</div>
}
