@(names: scala.collection.Set[String], name: String, keyword: String, json: String, date: String)(implicit lang:Lang)

@main("Papertrail Log Metrics") {
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("javascripts/ext/fullcalendar/fullcalendar.css")' />
<style>
#calendar { 
	display: inline-block;
	width:350px;
	height: 100%;
}
#setting {
	display: inline-block;
	margin: 20px 20px 20px 20px;
}
.control label { display: inline;}
.control input { margin-left: 20px; margin-right: 10px;}
.zoom-info { width: 800; margin: 5px 20px 5px 20px;}
</style>
<script type='text/javascript' src='/i18n/@lang.language/messages.js'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/fullcalendar/fullcalendar.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/flotr2/flotr2.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/logmetrics.js")'></script>
<script>
var app;
$(function() {
	var data = @Html(json),
		date = "@date";
	
	app = new flect.app.logmetrics.LogMetrics(date, data);
});
</script>
<div id="header" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<span class="brand" href="/">@name</span>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("view")<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/">@Messages("home")</a></li>
							<li class="divider"></li>
							<li><a href="/app/@name">@name</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("language")<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/i18n/setlang?lang=en">@Messages("english")</a></li>
							<li><a href="/i18n/setlang?lang=ja">@Messages("japanese")</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<div class="control">
	<div id="calendar"></div>
	<div id="setting">
		<div id="dummy"></div>
		<table class="table">
			<tr>
				<th>@Messages("keywords")</th>
				<td>
					<input type="text" id="keywords" class="input-xxlarge" value="@keyword"/>
					<button id="updateKey" class="btn btn-info">@Messages("show")</button>
				</td>
			</tr>
			<tr>
				<th>@Messages("dynos")</th>
				<td><div id="program"></div></td>
			</tr>
				<th>@Messages("displayChart")</th>
				<td><div id="lines"></div></td>
			</tr>
		</table>
	</div>
</div>
<div class="alert alert-info zoom-info">@Messages("zoomInformation")</div>
<div id="data">
</div>
}
