@(name: String, url: String, key: String)(implicit lang:Lang)

@main("Papertrail Log Metrics") {
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/flotr2/flotr2.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/logmetrics.js")'></script>
<script>
$(function() {
	var name = "@name",
		key = "@key",
		url = "@url" + "?key=" + key;
	
	new flect.app.logmetrics.RealtimeMetrics(url, key.split(","));
})
</script>
<div id="header" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<span class="brand" href="/">@name</span>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("view")<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/">@Messages("home")</a></li>
							<li class="divider"></li>
							@controllers.Application.ARCHIVES.keySet.map{ name =>
								<li><a href="/app/@name">@name</a></li>
							}
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("language")<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/i18n/setlang?lang=en">@Messages("english")</a></li>
							<li><a href="/i18n/setlang?lang=ja">@Messages("japanese")</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<h1>@name</h1>
<div>
	<h2 style="display:inline">@Messages("keywords"):  </h2>
	<input type="text" id="key" value="@key" class="input-xxlarge"/>
	<button id="updateKey" class="btn btn-info">@Messages("show")</button>
</div>
<h2>Lines: <span id="count"></span></h2>
<h3>State: <span id="state"></span></h3>
<div id="charts"></div>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Program</th>
				<th>Time</th>
				@key.split(",").map{ str =>
					<th>@str</th>
				}
			</tr>
		</thead>
		<tbody id="tbody">
		<tbody>
	</table>
</div>
}
