@(name: String, url: String, key: String, hour: Double)(implicit lang:Lang)

@main("Papertrail Log Metrics") {
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/flotr2/flotr2.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/logmetrics.js")'></script>
<script>
$(function() {
	var name = "@name",
		key = "@key",
		hour = @hour,
		url = "@url" + "?key=" + key;
	if (hour > 0) {
		url += "&hour=" + hour;
	}
	new flect.app.logmetrics.RealtimeMetrics(name, url, key.split(","), hour);
})
</script>
@topbar()
<h1>@name</h1>
<div>
	<h2 style="display:inline">@Messages("keywords"):  </h2>
	<input type="text" id="key" value="@key" class="input-xxlarge"/>
	<button id="updateKey" class="btn btn-info">@Messages("show")</button>
</div>
<h2>Lines: <span id="count"></span></h2>
<h3>State: <span id="state"></span></h3>
<div id="charts"></div>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Program</th>
				<th>Time</th>
				@key.split(",").map{ str =>
					<th>@str</th>
				}
			</tr>
		</thead>
		<tbody id="tbody">
		<tbody>
	</table>
</div>
}
