@(setting: AnalyzeSetting)(implicit lang:Lang)
<div id="settingTabs">
	<ul>
		<li><a href="#displaySetting">@Messages("displaySetting")</a></li>
		<li><a href="#responseTimeSetting">@Messages("responseTimeSetting")</a></li>
		<li><a href="#slowSqlSetting">@Messages("slowSqlSetting")</a></li>
		<li><a href="#regexSetting">@Messages("regexSetting")</a></li>
	</ul>
	<div id="displaySetting" class="setting">
		<fieldset>
			<legend>@Messages("ui.CountGrid")</legend>
			<ol>
				<li><input name="counters" type="checkbox" value="allLog" disabled checked><label>@Messages("counter.allLog")</label></li>
				<li><input name="counters" type="checkbox" value="allAccess" @setting.checked("allAccess")><label>@Messages("counter.allAccess")</label></li>
				<li>
					<input name="counters" type="checkbox" value="slowRequest" @setting.checked("slowRequest")>
					<label>@Messages("counter.slowRequest", "XX")</label>
					<input name="slowRequest.threshold" class="number" maxlength="4" value="@setting.option("slowRequest.threshold", "1000")"> ms
				</li>
				<li>
					<input name="counters" type="checkbox" value="slowConnect" @setting.checked("slowConnect")>
					<label>@Messages("counter.slowConnect", "XX")</label>
					<input name="slowConnect.threshold" class="number" maxlength="4" value="@setting.option("slowConnect.threshold", "20")"> ms
				</li>
				<li><input name="counters" type="checkbox" value="serverError" @setting.checked("serverError")><label>@Messages("counter.serverError")</label></li>
				<li><input name="counters" type="checkbox" value="clientError" @setting.checked("clientError")><label>@Messages("counter.clientError")</label></li>
				<li><input name="counters" type="checkbox" value="herokuError" @setting.checked("herokuError")><label>@Messages("counter.herokuError")</label></li>
				<li><input name="counters" type="checkbox" value="dynoStateChanged" @setting.checked("dynoStateChanged")><label>@Messages("counter.dynoStateChanged")</label></li>
				<li><input name="counters" type="checkbox" value="program" @setting.checked("program")><label>@Messages("counter.program")</label></li>
				<li><input name="counters" type="checkbox" value="regexCount" @setting.checked("regexCount")><label>@Messages("counter.regexGroup")</label></li>
			</ol>
		</fieldset>
		<fieldset>
			<legend>@Messages("ui.TimeGrid")</legend>
			<ol>
				<li><input name="counters" type="checkbox" value="responseTime" disabled checked><label>@Messages("counter.responseTime")</label></li>
				<li><input name="counters" type="checkbox" value="connectTime" @setting.checked("connectTime")><label>@Messages("counter.connectTime")</label></li>
				<li>
					<input name="counters" type="checkbox" value="slowSQL" @setting.checked("slowSQL")>
					<label>@Messages("counter.slowSQL", "XX")</label>
					<input name="slowSQL.threshold" class="number" maxlength="4" value="@setting.option("slowSQL.threshold", "50")"> ms
				</li>
				<li><input name="counters" type="checkbox" value="dynoBoot" @setting.checked("dynoBoot")><label>@Messages("counter.dynoBoot")</label></li>
				<li><input name="counters" type="checkbox" value="regexNumber" @setting.checked("regexNumber")><label>@Messages("counter.regexGroup")</label></li>
			</ol>
		</fieldset>
	</div>
	<div id="responseTimeSetting" class="setting">
		<div>
			<input type="checkbox" name="responseTime.includeConnect" value="true" @setting.optionChecked("responseTime.includeConnect")>
			<label>@Messages("responseTime.includeConnect")</label>
		</div>
		<div>
			<label>@Messages("maxGroup") - </label>
			<input name="responseTime.maxGroup" class="number" value="@setting.option("responseTime.maxGroup", "1000")">
		</div>
		<hr>
		<div>
			<label>@Messages("packPattern")</label><br>
			<textarea name="responseTime.pattern" rows="5">@setting.option("responseTime.pattern", "")</textarea>
		</div>
		<hr>
		<div>
			<label>@Messages("excludePattern")</label><br>
			<textarea name="responseTime.exclude" rows="5">@setting.option("responseTime.exclude", "")</textarea>
		</div>
	</div>
	<div id="slowSqlSetting" class="setting">
		<div>
			<input type="checkbox" name="slowSQL.includeCopy" value="true" @setting.optionChecked("slowSQL.includeCopy")>
			<label>@Messages("slowSQL.includeCopy")</label>
		</div>
		<div>
			<input type="checkbox" name="slowSQL.packCopy" value="true" @setting.optionChecked("slowSQL.packCopy")>
			<label>@Messages("slowSQL.packCopy")</label>
		</div>
		<div>
			<label>@Messages("maxGroup") - </label>
			<input name="slowSQL.maxGroup" class="number" value="@setting.option("slowSQL.maxGroup", "1000")">
		</div>
		<hr>
		<div>
			<label>@Messages("packPattern")</label><br>
			<textarea name="slowSQL.pattern" rows="5">@setting.option("slowSQL.pattern", "")</textarea>
		</div>
		<hr>
		<div>
			<label>@Messages("excludePattern")</label><br>
			<textarea name="slowSQL.exclude" rows="5">@setting.option("slowSQL.exclude", "")</textarea>
		</div>
	</div>
	<div id="regexSetting" class="setting">
		Not implemented
	</div>
</div>
